@import 'tailwindcss';

a {
  @apply underline text-blue-500;
}

a:hover {
  @apply underline font-semibold text-blue-500;
}

a:visited {
  @apply underline text-purple-700;
}

a:hover {
  @apply underline font-semibold text-purple-500;
}
